@using System.Linq;
@using Autodash.Core.UI.Models
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.List<Autodash.Core.SuiteRun>>
@{
    Layout = "";
}

<input type="hidden" id="is-suite-incomplete" value="@Model.Any(n => n.Status != Autodash.Core.SuiteRunStatus.Complete)" />
<table class="table table-condensed suite-runs-table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Duration (mins)</th>
            <th>Status</th>
            <th>P/F/I&nbsp;<span class="glyphicon glyphicon-info-sign" title="Passed / Failed / Inconclusive"></span></th>
            <th>Report</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var run in Model)
        {
            <tr>
                <td>@run.ScheduledFor</td>
                <td>@run.DurationFriendly()</td>
                <td>
                    @Html.Raw(run.StatusColored())
                    @if (run.Status == Autodash.Core.SuiteRunStatus.Running)
                    {
                        <a href="#" class="glyphicon glyphicon-stop cancel-suite-run" data-id="@run.Id" title="Cancel Suite Run"></a>
                    }
                </td>
                <td>@run.PassedFailedInconclusive()</td>
                <td><a href="/runs/@run.Id/report">View</a> | <a href="/runs/@run.Id/report.html">Download</a></td>
            </tr>
        }
    </tbody>

</table>