@using Autodash.Core
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Autodash.Core.UI.Models.CreateSuiteVm>
@{
    Layout = "_Layout.cshtml";
}

<ol class="breadcrumb mt10">
    <li><a href="/">Home</a></li>
    <li><a href="/projects/@Model.ProjectId">Project</a></li>
    <li class="active">New Test Suite</li>
</ol>

<h1>New Test Suite</h1>

<form method="post" enctype="multipart/form-data" action="/suites/create">

    @Html.Partial("_ValidationSummary", Model.Errors)

    <input type="hidden" name="ProjectId" value="@Model.ProjectId" />

    <div class="form-group">
        <label for="SuiteName">Suite Name</label>
        <input type="text" class="form-control" name="SuiteName" value="@Model.SuiteName" required maxlength="100" />
    </div>

    <div class="form-group">
        <label for="TestAssembliesZip">Test Assemblies</label>
        <input type="file" class="form-control" name="TestAssembliesZip" required />
    </div>

    <fieldset class="mt30">
        <legend>Configuration</legend>
        <div class="form-group">
            <label for="Browsers">Browsers</label>
            <div class="checkbox">
                @foreach (var browser in Model.AvailableBrowsers)
                {
                    <label><input type="checkbox" name="Browsers" value="@browser.Key" />@browser.Value</label><text>&nbsp;</text>
                }
            </div>
        </div>

        <div class="form-group">
            <label for="SuiteName">Environment Url</label>
            <input type="text" class="form-control" name="EnvironmentUrl" value="@Model.EnvironmentUrl" required maxlength="100" />
            <p class="help-block">
                Enter the root url. Ex: http://www.some-url.com
            </p>
        </div>

        <div class="form-group">
            <label for="RetryAttempts">Retry attempts</label>
            <input type="number" class="form-control" name="RetryAttempts" value="@Model.RetryAttempts" required maxlength="1" />
        </div>

        <div class="form-group">
            <label for="RetryAttempts">Test Timeout</label>
            <div class="input-group">
                <input type="number" class="form-control" name="TestTimeout" value="@Model.TestTimeoutMinutes" required />
                <div class="input-group-addon">minutes</div>
            </div>
        </div>
    </fieldset>

    <fieldset class="mt30">
        <legend>Schedule (optional)</legend>

        <div class="form-group">
            <label for="Time">Run at</label>
            <input type="text" class="form-control" name="Time" value="@Model.Time" pattern="^\d\d?:\d\d$" placeholder="Ex: 14:00" />
        </div>

        <div class="form-group">
            <label for="Interval">Every</label>
            <div class="input-group">
                <input type="text" class="form-control" name="IntervalHours" value="@Model.IntervalHours" placeholder="Ex: 24" />
                <div class="input-group-addon">hours</div>
            </div>
        </div>
    </fieldset>

    <button type="submit" class="btn btn-success">Submit</button>
</form>
@section scripts{
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover();
        })
    </script>
}