@using Autodash.Core.UI.Models
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Autodash.Core.UI.Models.ProjectDetailsVm>
@{
    Layout = "_Layout.cshtml";
}

<div class="row">
    <h1>@Model.Project.Name</h1>
    <p>@Model.Project.Description</p>
</div>

<div class="row text-right">
    <form enctype="application/x-www-form-urlencoded" action="/projects/delete" method="post" style="display:inline">
        <input type="hidden" name="id" value="@Model.Project.Id"/>
        <button type="submit" id="btn-delete-project" class="btn btn-danger" href="/projects/@Model.Project.Id/suites/create"><span class="glyphicon glyphicon-remove-sign"></span> Delete Project</button>
    </form>
    <a class="btn btn-primary" href="/projects/@Model.Project.Id/suites/create"><span class="glyphicon glyphicon-plus-sign"></span> Create Suite</a>
</div>

<div class="row mt10">
    @{ int i = 0;}
    @foreach (var suite in Model.Suites)
    {
        <div class="panel-group" role="tablist" id="suite-@i">
            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="suite-heading-@i">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#suite-@i" href="#suite-collapse-@i" aria-expanded="true">
                            @suite.Suite.Name
                        </a>

                        <a href="/suites/@suite.Suite.Id" class="panel-action">
                            <small><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Details</small>
                        </a>
                        <a href="#@suite.Suite.Id" class="panel-action action-delete">
                            <small><span class="glyphicon glyphicon-remove-sign"></span>&nbsp;Delete</small>
                        </a>
                    </h4>
                </div>
                <div id="suite-collapse-@i" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Configuration</h5>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Browsers</th>
                                            <td>@string.Join(", ", suite.Suite.Configuration.Browsers)</td>
                                        </tr>
                                        <tr>
                                            <th>Test Retry Attempts</th>
                                            <td>@suite.Suite.Configuration.RetryAttempts</td>
                                        </tr>
                                        <tr>
                                            <th>Test Timeout</th>
                                            <td>@suite.Suite.Configuration.TestTimeout</td>
                                        </tr>
                                        @if (suite.Suite.Schedule != null)
                                        {
                                        <tr>
                                            <th>Schedule</th>
                                            <td>@suite.Suite.Schedule.ToString()</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-8 col-md-offset-1">
                                <h5>Last 10 Runs</h5>
                                @Html.Partial("_SuiteRunHistory", suite.LastSuiteRuns)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @{i++;}
    }
</div>

@section scripts{
    <script src="/assets/js/suite-runs.js"></script>
    <script>
        $(function() {
            $(".action-delete").on("click", function(e) {
                e.preventDefault();
                if (confirm("Are you sure you want to delete this test suite?\nAll suite runs will be deleted as well.")) {
                    var id = $(this).attr("href").split("#")[1];
                    $.post("/suites/delete", { id: id }, function() {
                        window.location.reload();
                    });
                }
            });

            $("#btn-delete-project").on("click", function(e) {
                if (!confirm("Are you sure you want to delete this project?\nAll test suites and suite runs will be deleted as well.")) {
                    e.preventDefault();
                }
            });
        });
    </script>
}