@using Autodash.Core.UI.Models
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Autodash.Core.UI.Models.SuiteDetailsVm>
@{
    Layout = "_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h1>@Model.Suite.Name</h1>
        <button class="btn btn-default" id="js-run-suite">Run Suite</button>
    </div>
    <div class="col-md-6">
        <div id="last-ten-chart" class="mt10 pull-right" style="height:130px;width:278px"></div>
    </div>
</div>

<div role="tabpanel" class="mt10">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="content-tabs">
        <li role="presentation" class="active"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">Details</a></li>
        <li role="presentation"><a href="#test-explorer" aria-controls="test explorer" role="tab" data-toggle="tab">Test Explorer</a></li>
        <li role="presentation"><a href="#suite-runs" aria-controls="suite runs" role="tab" data-toggle="tab">Suite Runs</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active mt10" id="details">
            <form method="post" enctype="multipart/form-data" action="/suites/update">
                <input type="hidden" name="Id" id="Id" value="@Model.Suite.Id" />
                <input type="hidden" name="ProjectId" value="@Model.Suite.ProjectId" />
                
                <div class="form-group">
                    <label for="SuiteName">Suite Name</label>
                    <input type="text" class="form-control" name="SuiteName" value="@Model.Suite.Name" required maxlength="100" />
                </div>
                
                <fieldset class="mt30">
                    <legend>Configuration</legend>
                    <div class="form-group">
                        <label for="Browsers">Browsers</label>
                        <div class="checkbox">
                            <label><input type="checkbox" name="Browsers" value="Chrome" @(Model.IsBrowserSelected("Chrome") ? "checked" : "") />Chrome</label>&nbsp;
                            <label><input type="checkbox" name="Browsers" value="Firefox" @(Model.IsBrowserSelected("Firefox") ? "checked" : "") />Firefox</label>&nbsp;
                            <label><input type="checkbox" name="Browsers" value="IE" @(Model.IsBrowserSelected("IE") ? "checked" : "") />IE</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="RetryAttempts">Retry attempts</label>
                        <input type="number" class="form-control" name="RetryAttempts" value="@Model.Suite.Configuration.RetryAttempts" required maxlength="1" />
                    </div>

                    <div class="form-group">
                        <label for="RetryAttempts">Test Tags Query</label>
                        <input type="text" class="form-control" name="TestTagsQuery" value="@Model.Suite.Configuration.TestTagsQuery" />
                        <p class="help-block">Use <a href="#" id="js-test-tag-explorer">test tag explorer</a> to help you compose a query.</p>
                    </div>
                </fieldset>

                <fieldset class="mt30">
                    <legend>Schedule (optional)</legend>

                    <div class="form-group">
                        <label for="Time">Run at</label>
                        <input type="text" class="form-control" name="Time" value="@Model.ScheduleTime" pattern="^\d\d?:\d\d$" placeholder="Ex: 14:00" />
                    </div>

                    <div class="form-group">
                        <label for="Interval">Every</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="IntervalHours" value="@Model.ScheduleInterval" placeholder="Ex: 24" />
                            <div class="input-group-addon">hours</div>
                        </div>
                    </div>
                </fieldset>
                
                <button type="submit" class="btn btn-success">Update</button>

            </form>
        </div>
        <div role="tabpanel" class="tab-pane mt10" id="test-explorer">
            @Html.Partial("_TestExplorer")
        </div>
        <div role="tabpanel" class="tab-pane mt10" id="suite-runs">
            @Html.Partial("_SuiteRunHistory", Model.SuiteRuns)
        </div>
    </div>

</div>

@section scripts{
    <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js"></script>
    <script src="/assets/js/test-explorer.js"></script>
    <script src="/assets/js/suite-details.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script>
        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('number', 'Run #');
            data.addColumn('number', 'Took');
            data.addColumn({ type: 'string', role: 'style' });

            data.addRows([
                [1, { v: 16, f: "16 mins" }, "color:green"],
                [2, { v: 15, f: "15 mins" }, "color:red"],
                [3, { v: 17, f: "17 mins" }, "color:red"],
                [4, { v: 20, f: "20 mins" }, "color:green"],
                [5, { v: 18, f: "18 mins" }, "color:green"],
                [6, { v: 19, f: "19 mins" }, "color:red"],
                [7, { v: 25, f: "25 mins" }, "color:green"],
                [8, { v: 35, f: "35 mins" }, "color:green"],
                [9, { v: 19, f: "19 mins" }, "color:red"],
                [10, { v: 20, f: "20 mins" }, "color:green"]
            ]);

            var options = {
                legend: { position: 'none' },
                title: 'Last 10 suite runs',
                hAxis: {
                    textPosition: 'none',
                    viewWindow: {
                        min: 0.5,
                        max: 10.5
                    }
                },
                vAxis: {
                    title: 'Time (mins)'
                }
            };

            var chart = new google.visualization.ColumnChart(
              document.getElementById('last-ten-chart'));

            chart.draw(data, options);
        }
    </script>
}